.jumbotron {
    background-image: url("/assets/img/burgerbackground.jpg");
    html {
        background: url(images/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

body {
    background-size: full;
}

.text-center {
    height: 250px;
    text-align: center;
}

h3,
h5 {
    color: aliceblue;
    font-family: 'Comic Sans', ;
}

p {
    color: aliceblue;
    font-family: 'Comic Sans', ;
}

footer {
    color: aliceblue;
    font-family: 'Indie Flower', ;
}