.jumbotron {
    background-image: url("/public/assets/img/bobburger.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

body {
    background-size: cover;
}

.text-center {
    height: 250px;
    text-align: center;
}

h3,
h5 {
    color: aliceblue;
    font-family: 'Indie Flower', cursive;
}

p {
    color: aliceblue;
    font-family: 'Indie Flower', cursive;
}

footer {
    color: aliceblue;
    font-family: 'Indie Flower', cursive;
}